.wrapper {
  display: flex;
  // width: 500px;
  padding: 0 4rem;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100px;
  font-size: 1.5rem;
  border-radius: 5px;

  position: absolute;
  top: 0;
  animation: expose 0.5s ease-in-out both;

  .banner {
  }
}

.green {
  background-color: green;
}
.red {
  background-color: red;
}
.bold {
  font-weight: bold;
}

@keyframes expose {
  0% {
    top: -100px;
  }
  100% {
    top: 20px;
  }
}
